
{% if connecte == 1 %}
 <header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ path('site.accueil') }}" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="{{ path('site.liste_annonce') }}">Mes annonces</a>
        </li>
        <li>
          <a href="{{ path('site.annonce_ajoute') }}">Ajouter une annonce</a>
        </li>
        <li>
          <a href="{{ path('site.profil') }}">Profils</a>
        </li>
        <li>
          <a href="{{ path('site.logout') }}">Déconnexion</a>
        </li>
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">RECHERCHER une annonce <i class="glyphicon glyphicon-search"></i></a>
          <!--<ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
              <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
            </form>
          </ul>-->
        </li>
      </ul>
    </nav>
  </div>
</header>

{% for user in users %}
<div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>{{ user.prenom }} {{ user.nom }}
            <p class="lead"></p>
          </h1>
        </div>
        <div class="col-md-5">
          <div class="well well-lg"> 
            <div class="row">
                
              <div class="col-xs-4 col-sm-4">
                  <img src="{{ asset(user.avatar) }}" style="width:100%;" alt="image_profil_connexion">
              </div>
              <div class="col-xs-8 col-sm-8">

                  <h3>
            <p class="lead">{{ user.email }} - {{ user.created | date("d/m/Y") }} </p>
          </h3>       
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div><!-- /cont -->

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="top-spacer"> </div>
        </div>
      </div> 
    </div><!-- /cont -->

</div>

 {% endfor %}
      
{% else %}
   <header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ path('site.accueil') }}" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">S'inscrire</a>
        </li>
        <li>
          <a href="{{ path('site.login') }}">Connexion</a>
        </li>

      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">RECHERCHER une annonce <i class="glyphicon glyphicon-search"></i></a>
          <!--<ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
              <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
            </form>
          </ul>-->
        </li>
      </ul>
    </nav>
  </div>
</header>
      
          <div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Portail Annonce
            <p class="lead"></p>
          </h1>
        </div>
        <div class="col-md-5">
          <div class="well well-lg"> 
            <div class="row">
              <div class="col-sm-12">

                  <h3>Bienvenue sur le site d'annonce
            <p class="lead"></p>
          </h3>       
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div><!-- /cont -->

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="top-spacer"> </div>
        </div>
      </div> 
    </div><!-- /cont -->

</div>
      
{% endif %}







